# intel_prop configuration file
# Reads firmware version info from sysfs and exports as Android properties
#
# syntax: type:source:destination
#
fs:/sys/kernel/fw_update/fw_info/ifwi_version:sys.ifwi.version
fs:/sys/kernel/fw_update/fw_info/chaabi_version:sys.chaabi.version
fs:/sys/kernel/fw_update/fw_info/mia_version:sys.mia.version
fs:/sys/kernel/fw_update/fw_info/scu_bs_version:sys.scubs.version
fs:/sys/kernel/fw_update/fw_info/scu_version:sys.scu.version
fs:/sys/kernel/fw_update/fw_info/ia32fw_version:sys.ia32.version
fs:/sys/kernel/fw_update/fw_info/valhooks_version:sys.valhooks.version
fs:/sys/kernel/fw_update/fw_info/punit_version:sys.punit.version
